<% content_for :content_for do %>
    <ol class="breadcrumb">
      <li><a href="#">订单管理</a></li>
      <li class="active">列表</li>
    </ol>
    <table class="table table-bordered">
      <tr>
        <td>序号</td>
        <td>预约者</td>
        <td>联系方式</td>
        <td>地址</td>
        <td>预约类型</td>
        <td>预约项目</td>
        <td>创建时间</td>
        <td>分配类型</td>
        <td>状态</td>
        <td>操作</td>
      </tr>

      <% @bookings.each_with_index do |x,i|%>
          <tr>
            <td><%= i + 1 %></td>
            <td><%= x.username %></td>
            <td><%= x.mobile %></td>
            <td><%= x.address %></td>
            <td><%= x.category.category_type_name %></td>
            <td><%= x.category.name %></td>
            <td><%= x.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
            <td><%= x.admin_allocation_type_name %></td>
            <td><%= x.admin_status_name %></td>
            <td>
              <%= link_to '放弃服务',cancel_admin_booking_path(x) if x.admin_unassigned? %>
              <%= link_to '分配',admin_booking_path(x) if x.admin_unassigned? %>
              <%= link_to '自动分配',auto_admin_booking_path(x) if x.admin_unassigned?%>
            </td>
          </tr>
      <% end %>
    </table>
    <%= paginate @bookings %>
<% end %>