<% content_for :content_for do %>
    <ol class="breadcrumb">
      <li><a href="#">预约管理</a></li>
      <li class="active">列表</li>
    </ol>
    <table class="table table-bordered">
      <tr>
        <td>序号</td>
        <td>预约者</td>
        <td>联系方式</td>
        <td>地址</td>
        <td>预约类型</td>
        <td>预约项目</td>
        <td>创建时间</td>
        <td>状态</td>
        <td>操作</td>
      </tr>

      <% @bookings.each do |book|%>
          <tr>
            <td><%= book.id %></td>
            <td><%= book.user.try(:name) %></td>
            <td><%= book.user.mobile %></td>
            <td><%= book.user.address %></td>
            <td><%= book.category.category_type_name %></td>
            <td><%= book.category.name %></td>
            <td><%= book.created_at %></td>
            <td><%= book.status_name %></td>
            <td>
              <%= link_to '分配',admin_booking_path(book)%>
              <%= link_to '自动分配',admin_agents_path%>
            </td>
          </tr>
      <% end %>
    </table>


<% end %>