<% content_for :content_for do %>
    <ol class="breadcrumb">
      <li><a href="#">派送者管理</a></li>
      <li class="active">列表</li>
    </ol>
    <div class="add">
      <%= link_to '新增', new_agent_dispatcher_path, class: "btn btn-primary" %>
    </div>
    <table class="table table-bordered">
      <tr>
        <td>序号</td>
        <td>姓名</td>
        <td>登陆账号</td>
        <td>电子邮箱</td>
        <td>联系方式</td>
        <td>地址</td>
        <td>创建时间</td>
        <td>状态</td>
        <td>操作</td>
      </tr>

      <% @dispatchers.each do |dispatcher|%>
          <tr>
            <td><%= dispatcher.id %></td>
            <td><%= dispatcher.name %></td>
            <td><%= dispatcher.login %></td>
            <td><%= dispatcher.email %></td>
            <td><%= dispatcher.mobile %></td>
            <td><%= dispatcher.address %></td>
            <td><%= dispatcher.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
            <td><%= dispatcher.status_name %></td>
            <td>
              <%= link_to '解冻', normal_agent_dispatcher_path(dispatcher), data: {confirm: '确认解冻该账号?'}, method: :put if dispatcher.disabled?%>
              <%= link_to '冻结', disabled_agent_dispatcher_path(dispatcher), data: {confirm: '确认冻结该账号?'}, method: :put if dispatcher.normal?%>
            </td>
          </tr>
      <% end %>
    </table>

<% end %>