<% content_for :content_for do %>
    <ol class="breadcrumb">
      <li><a href="#">员工管理</a></li>
      <li><a href="#">职位调动</a></li>
      <li class="active">列表</li>
    </ol>
    <div class="add">
      <div class="form-inline" role="form">
        <%= form_for @search, :url => position_admin_staff_transfers_path, :html => {:method => :get} do |f| %>
            <div class="form-group">
              <label for="exampleInputEmail2">&nbsp;&nbsp;&nbsp姓&nbsp名:&nbsp;&nbsp;&nbsp</label>
              <%= f.text_field :staff_name_like, class: "form-control", id: "inputPassword2" %>
            </div>
            <div class="form-group admin_staff_search">
              <label for="exampleInputEmail2">性别:</label>
              <%= f.select :staff_gender_eq, Staff.gender_options, {},class: "select_css" %>
            </div>
            <div class="form-group admin_staff_search">
              <label for="exampleInputEmail2">员工编号:</label>
              <%= f.text_field :staff_no_eq, class: "form-control", id: "inputPassword2" %>
            </div>
            <div class="form-group admin_staff_top">
              <label for="exampleInputEmail2">联系方式:</label>
              <%= f.text_field :staff_mobile_like, class: "form-control", id: "exampleInputEmail2" %>
            </div>
            <div class="form-group admin_staff_search admin_staff_top">
            <%= f.submit '搜索', class: "btn btn-primary" %>
            </div>
        <% end %>
      </div>
    </div>
    <table class="table table-bordered">
      <tr>
        <td>序号</td>
        <td>登陆账号</td>
        <td>员工编号</td>
        <td>姓名</td>        
        <td>联系方式</td>
        <td>调动职位</td>        
        <td>调动时间</td>
        <!-- td>操作员</td>
        <td>操作员工号</td> -->
        <td>操作</td>
      </tr>

      <% @leaders.each do |leader| %>
          <tr>
            <td><%= leader.id %></td>
            <td><%= leader.login %></td>
            <td><%= leader.staff.no %></td>
            <td><%= leader.staff.name %></td>
            <td><%= leader.staff.mobile %></td>
            <td><%= leader.staff.staff_role_maps.first.role.name %></td>
            <td><%= leader.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
           <!--  <td><%#= Staff.find(staff_transfer.operator_id).name %></td>
            <td><%#= Staff.find(staff_transfer.operator_id).no %></td> -->
            <td>
              <%#= link_to '解冻', normal_admin_staff_path(staff), data: {confirm: '确认解冻该账号?'}, method: :put if staff.disabled? %>
              <%#= link_to '冻结', disabled_admin_staff_path(staff), data: {confirm: '确认冻结该账号?'}, method: :put if staff.normal? %>
            </td>
          </tr>
      <% end %>
    </table>
    <%= paginate @leaders %>
<% end %>