<% content_for :content_for do %>
    <ol class="breadcrumb">
      <li><a href="#">部门管理</a></li>
      <li class="active">列表</li>
    </ol>
    <div class="add">
      <div class="form-inline" role="form">
        <%= form_for @search, :url => admin_departments_path, :html => {:method => :get} do |f| %>
            <div class="form-group">
              <label for="exampleInputEmail2">部门名称:</label>
              <%= f.text_field :name_like, class: "form-control", id: "inputPassword2" %>
            </div>
            <div class="form-group admin_staff_search">
              <label for="exampleInputEmail2">排序:</label>
              <%= f.text_field :sort_eq, class: "form-control", id: "exampleInputEmail2" %>
            </div>
            <!-- <div class="form-group admin_staff_search admin_staff_top"> -->
            <%= f.submit '搜索', class: "btn btn-primary" %>
            <%= link_to '新增', new_admin_department_path, class: "btn btn-primary" %>
            <!-- </div> -->
        <% end %>
      </div>
    </div>
    <table class="table table-bordered">
      <tr>
        <td>序号</td>
        <td>角色名称</td>
        <td>排序</td>
        <td>描述</td>
        <td>创建时间</td>
        <td>状态</td>
        <td>操作</td>
      </tr>

      <% @departments.each do |department| %>
          <tr>
            <td><%= department.id %></td>
            <td><%= department.name %></td>
            <td><%= department.sort %></td>
            <td><%= department.description %></td>
            <td><%= department.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
            <td><%= department.status_name %></td>
            <td>
              <%= link_to '恢复', normal_admin_department_path(department), data: {confirm: '确认恢复该部门?'}, method: :put if department.disabled? %>
              <%= link_to '禁用', disabled_admin_department_path(department), data: {confirm: '确认禁用该部门?'}, method: :put if department.normal? %>
              <%= link_to '编辑', edit_admin_department_path(department), data: {confirm: '确认编辑该部门?'} if department.normal? %>
            </td>
          </tr>
      <% end %>
    </table>
    <%= paginate @departments %>
<% end %>