<% content_for :content_for do %>
<style>
  .form-group{
    width: 200px;
  }

  .form-control{
    width:50%;
  }

</style>
    <ol class="breadcrumb">
      <li><a href="#">员工管理</a></li>
      <li><a href="#">员工列表</a></li>
      <li class="active">编辑</li>
    </ol>

    <div class="add_agent">
    <div class="form-inline" role="form">
    <%= form_for @staff, url: admin_staff_path, validate: true do |f| %>
        <div class="form-group">
          <p><label>员工姓名(必填):</label>
          <%= f.text_field :name, class: "form-control", placeholder: "员工姓名" %></p>
        </div>
        <div class="form-group admin_staff_top">
          <label>员工编号(必填):&nbsp;&nbsp</label><%= f.text_field :no, class: "form-control", placeholder: "员工编号" %>
        </div>
        <div class="form-group admin_staff_top">
          <label>登陆密码(非必填):&nbsp;&nbsp</label><%= f.password_field :password, class: "form-control", placeholder: "登陆密码" %>
        </div>
        <div class="form-group admin_staff_top">
          <label>角&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp色:&nbsp;&nbsp;&nbsp</label><%= f.select :role_id, Role.all.map{|m| [m.name, m.id]}, {},class: "select_css", id: "exampleInputEmail1" %>
        </div>
        <div class="form-group admin_staff_top">
          <label>联系方式(必填):&nbsp;&nbsp</label><%= f.text_field :mobile, class: "form-control", placeholder: "联系方式" %>
        </div>
        <div class="form-group admin_staff_top">
          <label>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp别:&nbsp;&nbsp;&nbsp</label><%= f.select :gender, Staff.gender_options, {},class: "select_css", id: "exampleInputEmail1" %>
        </div>
        <div class="form-group admin_staff_top">
          <label>年&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp龄:&nbsp;&nbsp;&nbsp</label><%= f.select :age, Staff.age, {}, class: "select_css"%>
        </div>
        <div class="form-group admin_staff_top">
          <label>出&nbsp生&nbsp年:&nbsp;&nbsp;&nbsp</label><%= f.select :years, Staff.years, {}, class: "select_css"%>
        </div>
        <div class="form-group admin_staff_top">
          <label>出&nbsp生&nbsp月:&nbsp;&nbsp;&nbsp</label><%= f.select :months, Staff.months, {}, class: "select_css" %>
        </div>
        <div class="form-group admin_staff_top">
          <label>出&nbsp生&nbsp日:&nbsp;&nbsp;&nbsp</label><%= f.select :days, Staff.days, {}, class: "select_css"%>
        </div>
        <div class="form-group admin_staff_top">
          <label>所属部门(必填):&nbsp;&nbsp</label><%= f.select :department_id, Department.all.map{|m| [m.name, m.id]}, {},class: "select_css", id: "staff-departmnt" %>
        </div>
        <div class="form-group admin_staff_top hide" id="staff-warehouse">
          <label>所属仓库:&nbsp;&nbsp</label><%= f.select :warehouse_id, Warehouse.all.map{|n| [n.name, n.id]}, {},class: "select_css", id: "select-warehouse" %>
        </div>
        <div class="form-group admin_staff_top">
          <label>q&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbspq:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp</label><%= f.text_field :qq, class: "form-control", id: "exampleInputEmail1", placeholder: "qq" %>
        </div>
        <div class="form-group admin_staff_top">
          <label>微&nbsp;&nbsp;&nbsp;&nbsp;&nbsp信:&nbsp;&nbsp;&nbsp;&nbsp</label><%= f.text_field :weixin, class: "form-control", id: "exampleInputEmail1", placeholder: "微信" %>
        </div>
        <div class="form-group admin_staff_top">
          <label>电子邮箱:&nbsp;&nbsp</label><%= f.text_field :email, class: "form-control", id: "exampleInputEmail1", placeholder: "电子邮箱" %>
        </div>
        <div class="form-group admin_staff_top">
          <label>所&nbsp在&nbsp省:&nbsp;&nbsp;&nbsp</label><%= f.select :province_id, Province.all.map{|n| [n.name, n.id]}, {},class: "select_css" %>
        </div>
        <div class="form-group admin_staff_top">
          <label>所&nbsp在&nbsp市:&nbsp;&nbsp;&nbsp</label><%= f.select :city_id, City.all.map{|n| [n.name, n.id]}, {},class: "select_css" %>
        </div>
        <div class="form-group admin_staff_top">
          <label>所&nbsp在&nbsp区:&nbsp;&nbsp;&nbsp</label><%= f.select :district_id, District.all.map{|n| [n.name, n.id]}, {},class: "select_css"%>
        </div>
        <div class="form-group admin_staff_top">
          <label>详细地址(必填):&nbsp;&nbsp</label><%= f.text_field :address, class: "form-control", placeholder: "详细地址" %>
        </div>
        <div class="form-group admin_staff_top staff-submit">
          <button type="submit" class="btn btn-primary">提交</button>
        </div>
    <% end %>
    </div>
</div>

<script>
  $(document).ready(function() {
    function refreshCityOptions(province_id) {
      $.ajax({
        url: "/cities",
        data: { "province_id": province_id},
        dataType: 'json',
        success: function(result){
          var options = $("#staff_city_id");
          options.empty(); // remove old options

          options.append($("<option></option>").attr("value", '').text('请选择城市'));

          $.each(result, function(index, option) {
            options.append($("<option></option>")
                .attr("value", option.id).text(option.name));
          });
        }
      });
    }

    $("#staff_province_id").on('change', function(e){
      var province_id = $(this).val();

      refreshCityOptions(province_id);
    });

  function refreshDistrictOptions(city_id) {
      $.ajax({
        url: "/districts",
        data: { "city_id": city_id},
        dataType: 'json',
        success: function(result){
          var options = $("#staff_district_id");
          options.empty(); // remove old options

          options.append($("<option></option>").attr("value", '').text('请选择地区'));

          $.each(result, function(index, option) {
            options.append($("<option></option>")
                .attr("value", option.id).text(option.name));
          });
        }
      });
    }

    $("#staff_city_id").on('change', function(e){
      var city_id = $(this).val();

      refreshDistrictOptions(city_id);
    });
  });


</script>

<% end %>