<% content_for :content_for do %>
    <ol class="breadcrumb">
      <li><a href="#">仓库管理</a></li>
      <li><a href="#">出入库录入</a></li>
      <li class="active">新增</li>
    </ol>

    <div class="add_agent">
    <div class="form-inline" role="form">
    <%= form_for @warehouse_record, url: admin_warehouse_records_path do |f| %>
        <div class="form-group">
        <label>仓库名称:&nbsp</label>
          <%= f.select :warehouse_id, Warehouse.all.map{|m| [m.name, m.id]}, {}, class: "select_css" %>
        </div>
        <div class="form-group admin_staff_top">
        <label>商品名称:&nbsp</label>
          <%= f.select :product_id, Product.all.map{|m| [m.name, m.id]}, {}, class: "select_css" %>
        </div>
        <div class="form-group admin_staff_top">
        <label>商品数量:&nbsp</label>
          <%= f.text_field :qty, class: "form-control", placeholder: "数量" %>
        </div>
        <div class="form-group admin_staff_top">
        <label>实时价格:&nbsp</label>
          <%= f.text_field :price, class: "form-control", placeholder: "实时价格" %>
        </div>
        <div class="form-group admin_staff_top">
        <label>进出类型:&nbsp</label>
          <%= f.select :record_type, WarehouseRecord.record_type_options, {}, class: "select_css" %>
        </div>
        <div class="form-group admin_staff_top">
        <button type="submit" class="btn btn-primary">提交</button>
        </div>
    <% end %>
</div>
</div>
<% end %>