<% content_for :content_for do %>
    <ol class="breadcrumb">
      <li><a href="#">预约菜单管理</a></li>
      <li class="active">列表</li>
    </ol>
    <div class="add">
      <%= link_to '新增', new_admin_menu_path, class: "btn btn-primary" %>
    </div>
    <table class="table table-bordered">
      <tr>
        <td>序号</td>
        <td>名称</td>
        <td>描述</td>
        <td>类型</td>
        <td>状态</td>
      </tr>

      <% @categories.each do |category|%>
          <tr>
            <td><%= category.id %></td>
            <td><%= category.name %></td>
            <td><%= category.description %></td>
            <td><%= category.category_type_name %></td>
            <td><%= category.status_name %></td>
          </tr>
      <% end %>
    </table>
<% end %>