<% parent_class = ' active' %>

<div class="left">
  <% if session[:account_id] %>
      <ul class="nav nav-pills nav-stacked" role="tablist">
        <li role="presentation" class="<%= parent_class if current_page?(admin_agents_path) %>">
          <a href="<%= admin_agents_path %>">代理商管理</a></li>
        <li role="presentation" class="<%= parent_class if current_page?(admin_bookings_path) %>">
          <a href="<%= admin_bookings_path %>">预约管理</a></li>
        <li role="presentation" class="<%= parent_class if current_page?(admin_menus_path) %>">
          <a href="<%= admin_menus_path %>">预约菜单管理</a></li>
      </ul>
  <% end %>

  <% if session[:agent_id] %>
      <ul class="nav nav-pills nav-stacked" role="tablist">
        <li role="presentation" class="<%= parent_class if current_page?(admin_bookings_path) %>">
          <a href="<%= agent_bookings_path %>">预约管理</a></li>
      </ul>
  <% end %>


</div>

